body{
  margin: 0;
}

.header-logo{
  display: flex;
  justify-content: center;
}

.form-signin{
  display: flex;
  justify-content: center;
}

.form-wrap{
  width: 80%;
}

.btn-signin{
  display: flex;
  justify-content: center;
}

.social-network {
  display: flex;
  justify-content: center;
	list-style: none;
}

.social-network .icon-facebook{
	background-color:#3B5998;
}

.social-network .icon-google{
	background-color:#BD3518;
}

.social-circle {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  width: 50px;
  height: 50px;
  font-size:20px;
  margin: 2px;
}

.btn-signup{
  display: flex;
  justify-content: center;
  
}

@media (min-width: 576px) { 
  .form-wrap {
    width: 50%;
  }
}