body {
  margin: 0;
  background-color: #060a1c;
}

.header-logo {
  background-color:#fce804;
}

.form-posts {
  width: 100%;
}

.form-mobile {
  width: 80%;
}

.btn-style {
  background-color: #fcd704;
  font-family: "Roboto", sans-serif;
  color: #060a1c;
}

.btn-select {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #060a1c;
}

.style-font-title {
  font-family: "Roboto", sans-serif;
  color: white;
}

.text-card {
  font-family: "Roboto", sans-serif;
  color: #060a1c;
}

@media (max-width: 576px) { 
  .header-logo {
    width: 100vw;
  }

  .img {
    height: 70px;
  }

  .form-mobile {
    width: 90%;
  }
}